body{
    background-image: url(/images/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin:0px;
    
}


#game-title{
    font-family: 'Star Wars', sans-serif;
    letter-spacing: 0.1em;
    background-color: #f8d31b;
    text-align: center;
}

#grid{
    display:grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-gap: 10px;
}

/* the boxes that were created for the grid in javascript */
.box{
    background-color: lightblue;
    text-align: center;
    line-height: 1.5;
    border:1px solid black;
}

/* hovering over the boxes */
.highlight{
    background-color: orange;
}
/* hit marker on the boxes */
.hit-highlight{
    background-color: red;
}

/* fit the images in the boxes */
.box img{
    width:50%;
    height:80%;
    display:none;
}


/* style the clone and droid icons */
.icon{
    width: 100px;
    height: 100px;
}


/* style the tables */
.table{
    border: 2px solid black;
}

