body{
    background-image: url(/images/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin:0px;
    
}


#game-title{
    font-family: 'Star Wars', sans-serif;
    letter-spacing: 0.1em;
    background-color: #f8d31b;
    text-align: center;
}

#grid{
    display:grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-gap: 10px;
}

/* the boxes that were created for the grid in javascript */
.box{
    background-color: lightblue;
    text-align: center;
    line-height: 1.5;
    border:1px solid black;
}

/* hovering over the boxes */
.highlight{
    background-color: orange;
}
/* hit marker on the boxes */
.hit-highlight{
    background-color: red;
}

/* fit the images in the boxes */
.box img{
    width:50%;
    height:80%;
    display:block;
}


/* style the clone and droid icons */
.icon{
    width: 100px;
    height: 100px;
}


/* style the tables */
.table{
    border: 2px solid black;
}


/* style grids 2 which houses player1's game pieces */
.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-columns;
    grid-gap: 10px;
    border: 3px solid red
  }

  
/* game pieces */
.grid-item {
    width: 50px;
    height: 50px;
}

.player1-piece{
    width: 75px;
    height: 75px;
}

.player2-piece{
    width: 70px;
    height: 75px;
}